<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="edu.uwm.twee.editors.TweeEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="tw"
            icon="icons/Twine16.png"
            id="edu.uwm.twee.editors.TweeEditor"
            name="Twee Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="edu.uwm.twee"
            name="Twee">
      </category>
      <wizard
            category="edu.uwm.twee"
            class="edu.uwm.twee.wizards.NewTwee"
            icon="icons/Twine16.png"
            id="edu.uwm.twee.wizards.NewTwee"
            name="Twee file">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="edu.uwm.twee.preferences.TweePreferencePage"
            id="edu.uwm.twee.preferences.TweePreferencePage"
            name="Twee">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="edu.uwm.twee.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="1"
            name="edu.uwm.twee.macro">
      </type>
   </extension>
   <extension
         id="tweeMacroError"
         name="Twee Macro Errors"
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="edu.uwm.twee.macro"
            colorPreferenceKey="clcolor"
            colorPreferenceValue="255,0,0"
            includeOnPreferencePage="true"
            label="Twee Macro Errors"
            overviewRulerPreferenceKey="clruler"
            overviewRulerPreferenceValue="true"
            textPreferenceKey="cltext"
            textPreferenceValue="true"
            textStylePreferenceKey="clstyle"
            textStylePreferenceValue="PROBLEM_UNDERLINE"
            verticalRulerPreferenceKey="clvertical"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>

</plugin>
